<% unless degree.archived? %>
    <p><%- award.aname %></p>
    <p><%- award.description%></p>
    <p><%- awardeddate %></p>
    <p>
        <%= link_to "Destroy Education", [degree.user, degree], data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
            } %>
    </p>
<% end %>
