<% unless degree.archived? %>
    <p><%- degree.schoolname %></p>
    <p><%- degree.sdate %></p>
    <p><%- degree.edate %></p>
    <p><%- degree.educationlevel %></p>
    <p>
        <%= link_to "Destroy Education", [degree.user, degree], data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
            } %>
    </p>

    <h2>Major</h2>
    <% render @degree.majors %>

    <h2>Minor</h2>
    <% render @degree.minors %>

    <h2>Add a major to this degree:</h2>
    <% render 'majors/form' %>

    <h2>Add a minor to this degree:</h2>
    <% render 'minors/form' %>

<% end %>